{% extends 'templates/Default.html.twig' %}

{% block title %}Gains{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block header %}
    <span id="exit">
        <a href="{{ path('home') }}" class="button">
            <i class="fi-ss fi-cross"></i>
        </a>
    </span>
    <h1>Vos gains</h1>
    <span></span>
{% endblock %}
{% block body %}
    <div class="graph">
        {{ render_chart(chart) }}
    </div>
{% endblock %}
