<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="image/logo.png">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/uicons.css">
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
