@font-face {font-family:"Akzidenz-Grotesk BQ"; src:url("../font/AkzidenzGrotesk-Medium.woff") format("woff")}
:root {--primary:#100f0f;--secondary:#efefef;--color3:#1fc36c;--grey:#2e2e2e}
body {text-align: center;background:var(--primary);color:var(--secondary);font-family:'Roboto', sans-serif;font-size:16px;margin:0;top:0;bottom:0;position:absolute;left:0;right:0;display:flex;flex-direction:column}
.logo {font-family:"Akzidenz-Grotesk BQ", sans-serif;font-weight:normal}
h1 {margin:0;font-size:1em}
header {
    padding: 0 1.8em;
    display: flex;
    justify-content: center;
    height: 45px;
    align-items: center;
    min-height: 45px;
    background: inherit;
    z-index: 10;
    position: sticky;
    top: 0;
}
.space-between {flex:1;display:flex;align-items:center;justify-content:space-between}
a {color:inherit;text-decoration:none;
    /*! padding:1em 0; */
}
header #exit {position:absolute;left:1em}
header,.act-row {border-bottom:1px solid var(--grey)}
.space-button {display:flex;gap:1.5em}
header .button {height:2em;width:2em;display:flex;align-items:center;justify-content:center;cursor:pointer}
.balance {
    padding: 2em;
    background-color: black;
    background-image: url('../image/backscreen.png');
    font-weight: bold;
    text-align: center;
    background-size: cover;
    background-position: bottom;
}
#balance {font-size:2em;position:relative;width:fit-content;margin:auto}
.act-list {padding:0;list-style:none;margin:1em 3em}
.act-row {display:flex;justify-content:space-between;padding:0.8em 1em}
.act-row:hover {background:rgba(100, 100, 100, 0.2)}
.act-row img {width:1.5em}
.act-short {text-transform:uppercase;font-weight:bold}
.act-name {color:grey;font-size:.8em}
.space {display:flex;gap:8px;align-items:center}
form {margin:2em 3em;text-align:center;display:flex;position:relative;flex:1;flex-direction:column}
form input[type=text],form input[type=number],select {background:transparent;border:none;flex:1;padding:0.8em;color:whitesmoke}
form label p,form input[type=text],form input[type=number],select {margin-left:.8em}
#info {display:flex;flex-direction:column;text-align:start;margin-left:2em}
form label[disabled] {background:#1f1f1f}
form label {overflow:hidden;border:1px solid grey;border-radius:2px;display:flex;align-items:center;margin:1em;padding-left:.8em;color:gray;font-size:14px;height:2.8em}
input[type="submit"],form button {margin:auto 2em 2em;text-transform:uppercase;font-weight:600;font-family:sans-serif;cursor:pointer;background:var(--color3);border:none;border-radius:5px;color: var(--primary);height: 45px;}
input[type="submit"]:hover, form button:hover {background:#27d996;display:block;}
form button {padding:.8em;margin:1em -0.5em;width:15em;font-size:12px}
input.disabled[type="submit"],form button.disabled {background:grey;pointer-events:none;cursor:not-allowed}
.graph {width:80%;background:black;margin:3em auto;border-radius:4px;box-shadow:0 0 8px black}
main {position:relative;display:flex;flex-direction:column;flex:1;max-width:500px;margin:auto;width:100%}
.select2.select2-container {margin-left:.8em;flex:1}
.select2-container--default .select2-selection--single {background:none;border:0}
.select2-container--default .select2-selection--single .select2-selection__rendered {color:whitesmoke}
.select2-dropdown.select2-dropdown--below {background-color:#100f0f;box-shadow:0 6px 10px black;border:none}
.select2-dropdown.select2-dropdown--below .select2-search__field {background:none;color:whitesmoke}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {background-color:#1b1a1a}
#balance .act-percentage {font-size:12px;position:absolute;top:100%;right:-2em}
.select2-container--default .select2-results__option--selected {background:var(--color3)!important}
.act-percentage {color:var(--color3)}
.act-percentage.gain-lose {color:#c63b3b}
.select2-hidden-accessible {
    pointer-events: none;
}
@media screen and (max-width:400px){
    .act-list {margin: 1em}
}
